---
const { frontmatter } = Astro.props;
---

<header
    class="relative w-full h-screen min-h-[800px] flex flex-col justify-center items-center overflow-hidden"
>
    <!-- Background Image with Duotone Effect -->
    <div class="absolute inset-0 z-0">
        <div
            class="w-full h-full bg-cover bg-center"
            style={`background-image: url('${frontmatter.heroImage}');`}
        >
        </div>
    </div>

    <!-- Hero Content -->
    <div class="relative z-30 text-center px-4 max-w-7xl mx-auto mt-20">
        <div
            class="mb-6 flex justify-center items-center gap-4 text-xs font-bold tracking-[0.2em] text-surface/80 uppercase"
        >
            <span>{frontmatter.date}</span>
            <span class="w-1 h-1 bg-primary rounded-full"></span>
            <span>Por {frontmatter.author}</span>
        </div>
        <h1
            class="text-[clamp(2rem,12vw,6rem)] leading-[0.85] font-bold text-surface break-words tracking-tighter text-shadow-(--color-primary)"
            set:html={frontmatter.title}
        >
        </h1>
    </div>

    <!-- Scroll Indicator -->
    <div
        class="absolute bottom-10 left-1/2 -translate-x-1/2 z-30 animate-bounce"
    >
        <span class="material-symbols-outlined text-4xl text-surface">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-down"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M12 5l0 14"></path><path d="M18 13l-6 6"></path><path
                    d="M6 13l6 6"></path>
            </svg>
        </span>
    </div>
</header>
