---
---

<div class="relative w-[120%] -ml-[10%] my-20 py-10 not-prose">
    <span
        class="absolute -top-10 left-0 text-[10rem] leading-none text-primary/30 font-display font-bold select-none"
    >
        "
    </span>
    <blockquote
        class="relative z-10 text-4xl md:text-5xl lg:text-6xl font-display font-bold text-accent leading-[0.9] tracking-tight text-center text-balance"
    >
        <slot />
    </blockquote>
</div>
