---
interface Props {
  category?: string;
  title: string;
  description?: string;
  buttonLink?: string;
}

const {
  category,
  title,
  description,
  buttonLink
} = Astro.props;
---

<article class="masonry-item group relative w-full overflow-hidden border border-surface/20 bg-surface transition-all hover:border-accent hover:shadow-[0_0_30px_rgba(255,255,255,0.05)] rounded-sm">
    <div class="p-8 md:p-10 flex flex-col min-h-[350px]">
        <div class="flex flex-end items-start mb-auto">
            {category && <span class="px-2 py-1 text-xs mb-4 uppercase tracking-widest text-surface bg-primary">{category}</span>}
        </div>
        
        <h2 class="text-5xl font-bold leading-[0.8] tracking-tighter text-transparent bg-clip-text bg-gradient-to-br from-slate-900 to-primary mb-4 group-hover:scale-[1.02] transition-transform duration-500 origin-left">
            {title}
        </h2>
        
        {description && (
            <p class="font-body text-muted-grey text-sm mb-6">
                {description}
            </p>
        )}
        
        <slot />
        
        <a href={buttonLink} class="w-full block text-center py-3 text-xs border border-primary font-bold uppercase tracking-widest hover:text-surface hover:bg-primary transition-colors">
            Leer más
        </a>
    </div>
</article>
