---
import BaseLayout from "./BaseLayout.astro";
import ArticleHeader from "@/components/ArticleHeader.astro";
import Article from "@/components/Article.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={`${frontmatter.title} - El Pulso`}>
    <main
        class="relative bg-(--color-background-dark) text-slate-900 dark:text-surface font-display antialiased overflow-x-hidden"
    >
        <!-- Hero Section -->
        <ArticleHeader frontmatter={frontmatter} />

        <!-- Article Container -->
        <Article frontmatter={frontmatter}>
            <slot />
        </Article>
    </main>
</BaseLayout>
